@import "tailwindcss";

* {
    font-family: "Segeo UI",sans-serif;
    font-weight: 400;
}
code,
.consolas {
    font-family: "Consolas",sans-serif;
}

.markdown-body {
  color: #e5e7eb; /* text-gray-200 */
}

.markdown-body h1,
.markdown-body h2,
.markdown-body h3,
.markdown-body h4 {
  color: #ffffff;
  font-weight: 700;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

.markdown-body p {
  color: #d1d5db; /* text-gray-300 */
  line-height: 1.6;
  margin: 0.5rem 0;
}

.markdown-body a {
  color: #4ade80; /* green-400 */
}

.markdown-body code {
  background: #2d2d2d;
  padding: 2px 4px;
  border-radius: 4px;
  color: #93c5fd; /* blue-300 */
}

.markdown-body pre {
  background: #1f1f1f;
  padding: 12px;
  border-radius: 6px;
  overflow: auto;
}

.markdown-body ul {
  margin-left: 1.2rem;
  color: #d1d5db;
}

.markdown-body li {
  margin: 0.3rem 0;
}

.markdown-body blockquote {
  border-left: 4px solid #4ade80; 
  padding-left: 1rem;
  color: #9ca3af;
}


/* Scrollbar track */
::-webkit-scrollbar {
  width: 1px;       /* smaller width */
  height: 6px;      /* for horizontal scrollbars */
}

/* Scrollbar thumb */
::-webkit-scrollbar-thumb {
  background-color: #269475;  /* green color */

}

/* Scrollbar track background */
::-webkit-scrollbar-track {
  background-color: #1f1f1f;  /* optional track color */
}
